.main {
  padding: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(auto, 480px) minmax(480px, 720px) minmax(320px, 480px);
  grid-template-areas: "left main right";
  gap: 2rem;
  width: fit-content;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.breadcrumbs {
  display: flex;
  gap: 0.5rem;
}

.breadcrumb {
  display: contents;
}

.breadcrumb::after {
  content: '>';
  color: var(--color-sub);
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

.date {
  color: var(--color-sub);
}

.side {
  grid-area: right;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.article {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
