.logo {
	width: 100%;
	aspect-ratio: 6 / 1;
	image-rendering: pixelated;
	background-color: var(--color-front);
	mask-image: url("/logo.png");
	mask-repeat: no-repeat;
	mask-position: left center;
	mask-size: contain;
}

.empty {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

.empty-image {
	width: 100%;
	max-width: 400px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-front);
	mask-image: url("/empty.png");
	mask-size: 100%;
}
