.title {
	font-size: 2rem;
	font-weight: 700;
}

.empty {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

.empty-image {
	width: 100%;
	max-width: 400px;
	aspect-ratio: 1 / 1;
	background-color: var(--color-front);
	mask-image: url("/empty.png");
	mask-size: 100%;
}
