.main {
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 720px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article-title {
  font-weight: 700;
}

.article-metadata {
  display: flex;
  gap: 0.5rem;
}

.article-tag {
  padding-inline: 0.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
}