.main {
  padding: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr minmax(480px, 720px) 1fr;
  grid-template-areas: "left main right";
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

.date {
  color: var(--color-sub);
}

.side {
  grid-area: right;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.article {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
