.breadcrumbs {
	display: flex;
	align-items: center;
}

.breadcrumb {
	color: var(--color-primary);
	text-decoration: underline;
}

.title {
	font-size: 2rem;
	font-weight: 700;
}

.metadata {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	color: var(--color-sub);
}

.date {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	align-items: center;
}

.tag {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	align-items: center;
}
