.logo {
	width: 100%;
	height: 2rem;
	margin: 1rem;
	margin-left: 0;
	background-color: var(--color-front);
	mask-image: url("/logo.svg");
	mask-repeat: no-repeat;
	mask-position: left center;
	mask-size: contain;
}

.title {
	font-size: 2rem;
	font-weight: 700;
}

.metadata {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	color: var(--color-sub);
}

.date {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	align-items: center;
}

.tag {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	align-items: center;
}
