._list_15npe_1{display:flex;gap:.5rem;flex-wrap:wrap}._item_15npe_7{padding-inline:.5rem;border:1px solid var(--color-border);background-color:var(--color-primary);color:var(--color-incolor);border-radius:.5rem}
