.button {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color-border);
	font-weight: 600;
}

.button:has(svg:first-child) {
	padding-inline-start: 0.5rem;
}

.button:has(svg:last-child) {
	padding-inline-end: 0.5rem;
}

.button[data-variant="default"] {
	background-color: var(--color-surface);
}

.button[data-variant="primary"] {
	background-color: var(--color-primary);
	color: var(--color-incolor);
}
