.document > * {
  margin-block: 1rem;
}

.document > :first-child {
  margin-top: 0;
}

.document > :last-child {
  margin-bottom: 0;
}

.document :where(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.5em;
  font-weight: 700;
}

.document :where(h1, h2, h3, h4, h5, h6)::before {
  margin-right: 0.5rem;
  color: var(--color-sub);
}

.document h1 {
  font-size: 1.75rem;
}

.document h1::before {
  content: "#";
}

.document h2 {
  font-size: 1.5rem;
}

.document h2::before {
  content: "##";
}

.document h3 {
  font-size: 1.25rem;
}

.document h3::before {
  content: "###";
}

.document h4 {
  font-size: 1.115rem;
}

.document h4::before {
  content: "####";
}

.document h5 {
  font-size: 1.0625rem;
}

.document h5::before {
  content: "#####";
}

.document h6 {
  font-size: 1rem;
}

.document h6::before {
  content: "######";
}

.document a:not(:global(.remark-link-card-plus__card)) {
  color: var(--color-primary);
  text-decoration: underline;
}

.document ul {
  list-style: circle;
}

.document ol {
  list-style: decimal;
}

.document li {
  margin-left: 1.5rem;
  margin-block: 0.5rem;
}

.document ::marker {
  color: var(--color-sub);
}

.document :global(.contains-task-list) {
  list-style: none;
}

.document input[type="checkbox"] {
  appearance: auto;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
}

.document hr {
  color: var(--color-border);
}

.document :not(pre) > code {
  display: inline-block;
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

.document blockquote {
  padding: 1rem;
  border: 0 solid var(--color-border);
  border-left-width: 4px;
  background-color: var(--color-surface);
}

.document blockquote > * {
  margin-block: 1rem;
}

.document blockquote > :first-child {
  margin-top: 0;
}

.document blockquote > :last-child {
  margin-bottom: 0;
}

.document pre {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  line-height: 1;
  overflow: auto;
}

.document table {
  border-collapse: collapse;
}

.document img:not([src=""]) {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

.document :where(th, td) {
  border: 1px solid var(--color-border);
  padding: 0.5rem;
}

.document :global(.remark-link-card-plus__card) {
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  display: grid;
  grid-template-columns: 1fr 320px;
  overflow: hidden;
}

.document :global(.remark-link-card-plus__main) {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.document :global(.remark-link-card-plus__image) {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

.document :global(.remark-link-card-plus__content) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: auto;
}

.document :global(.remark-link-card-plus__title) {
  font-weight: 700;
}
