.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: 700;
}

.metadata {
  display: flex;
  gap: 0.5rem;
}

.date {
  color: var(--color-sub);
}

.tag {
  padding-inline: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-incolor);
  border-radius: 0.5rem;
}