.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inner {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.title {
	font-weight: 700;
}

.excerpt :global(mark) {
	display: inline-block;
	padding-inline: 0.25rem;
	color: var(--color-incolor);
	background-color: var(--color-primary);
	border-radius: 0.5rem;
}
