.list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.item {
	padding-inline: 0.5rem;
	color: var(--color-incolor);
	background-color: var(--color-primary);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	transition-duration: 50ms;
	transition-property: background-color;
}

.item:hover {
	background-color: light-dark(
		oklch(from var(--color-primary) calc(l - 0.2) c h),
		oklch(from var(--color-primary) calc(l + 0.2) c h)
	);
}
