.list {
  display: flex;
  gap: 0.5rem;
}

.item {
  padding-inline: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-primary);
  color: var(--color-incolor);
  border-radius: 0.5rem;
}
