.list {
  padding-left: 1.5rem;
}

.item {
  list-style: decimal;
  margin-block: 0.5rem;
}

.item::marker {
  color: var(--color-sub);
}

.link {
  display: block;
  color: var(--color-primary);
  text-decoration: underline;
}