.list {
  padding-left: 1.5rem;
}

.item {
  list-style: decimal;
  margin-block: 0.5rem;
}

.item::marker {
  color: #0008;
}

.link {
  display: block;
  color: blue;
  text-decoration: underline;
}