.list {
	padding-left: 1.5rem;
}

.item {
	margin-block: 0.5rem;
	list-style: decimal;
}

.item::marker {
	color: var(--color-sub);
}

.link {
	color: var(--color-primary);
}

.link:hover {
	text-decoration: underline;
}

[data-active="true"] {
	font-weight: 600;
}
