.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

.header {
  font-weight: 700;
  font-size: 1.25rem;
}