:root {
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  scroll-behavior: smooth;
  scroll-padding: 1rem;
  color-scheme: light dark;

  --hue: 180;
  --color-base: oklch(72.126% 0.13582 var(--hue));
  --color-mono: oklch(from var(--color-base) l 0.005 h);

  --color-primary: light-dark(oklch(from var(--color-base) 60% c h), oklch(from var(--color-base) 80% c h));
  --color-back: light-dark(oklch(from var(--color-mono) 98% c h), oklch(from var(--color-mono) 25% c h));
  --color-front: light-dark(oklch(from var(--color-mono) 25% c h), oklch(from var(--color-mono) 98% c h));
  --color-surface: light-dark(oklch(from var(--color-mono) 95% c h / 0.1), oklch(from var(--color-mono) l c h / 0.1));
  --color-sub: oklch(from var(--color-front) l c h / 0.5);
  --color-border: oklch(from var(--color-front) l c h / 0.2);
  --color-incolor: var(--color-back);

  background-color: var(--color-back);
  color: var(--color-front);
}
